@font-face {
  font-family: 'AtAero';
  font-weight: 400; /* Regular/Retina */
  font-style: normal;
  src: url('/fonts/AtAero-Retina.otf') format('opentype');
}

@font-face {
  font-family: 'AtAero';
  font-weight: 400; /* Regular/Retina Italic */
  font-style: italic;
  src: url('/fonts/AtAero-RetinaItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AtAero';
  font-weight: 500; /* Medium */
  font-style: normal;
  src: url('/fonts/AtAero-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'AtAero';
  font-weight: 600; /* Semibold */
  font-style: normal;
  src: url('/fonts/AtAero-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'AtAero';
  font-weight: 600; /* Semibold Italic */
  font-style: italic;
  src: url('/fonts/AtAero-SemiboldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AtAero';
  font-weight: 700; /* Bold */
  font-style: normal;
  src: url('/fonts/AtAero-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'AtAero';
  font-weight: 700; /* Bold Italic */
  font-style: italic;
  src: url('/fonts/AtAero-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'AtAero';
  font-weight: 900; /* Black */
  font-style: normal;
  src: url('/fonts/AtAero-Black.otf') format('opentype'); 
}

body {
  font-size: 10px;
  line-height: normal;
}

/* CSS Reset */
span, 
h1, h2, h3, h4, h5, h6, p, 
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    line-height: normal;
}